body {
    background-color: white;
    font: 62.5% Palatino, "times new roman", serif;
}
h1 {
    margin-left: 12px;
}
p {
    font-size: 1.4em;
    margin-left: 12px;
    color: #333;
    line-height: 1.3em;
    width: 500px;
    text-align: justify;
}
ol {
    font-size: 1.4em;
    line-height: 1.4em;
    width: 500px;
}
ins {
	background: #ddffdd;
	color: black;
	text-decoration: none;
}
code {
    font-family: Palatino;
    font-size: 1.0em;
    background: none;
    font-weight: bold;
}
del {
	color: #ffcccc;
}

.highlight {
	color: orange;
	background: white;
}
.highlight.hovered {
    color: red;
    font-weight: normal;
}

span.comment {
	display: none;
}

span.circle {
	font-weight: bold;
}
.preview {
    padding-top: 14px;
    padding-left: 10px;
}
.header {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}
#output {
    font-size: 1.4em;
    line-height: 1.5em;
    margin-top: 9px;
    color: #333;
    width: 500px;
    text-align: justify;
}
.form textarea {
    font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
    font-size: 12px;
    margin: 10px 0px 0px 10px;
    border: 1px solid #ccc;
    border-right-color: #ddd;
    border-bottom-color: #ddd;
    height: 300px;
    width: 500px;
    padding: 5px;
}
.form dd {
    margin-left: 0px;
}
dl.form dt {
    margin: 0;
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}
.tooltip {
    display: none;
    right: auto;
}

.tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #86acc1;
	background-color: #fff;
	opacity: 0.85;
	max-width: 450px;
}

.tooltip .contain {
	background: #cde9f8;
	border: 2px solid #fff;
	color: black;
	padding: 5px;
}
.tooltip h3, #tooltip div { 
	margin: 0;
	font-size: 12px;
	font-weight: bold;
}
.toggles {
    font-family: helvetica;
    font-size: 12px;
    color: #999;
}
.toggles a {
    color: #999;
    text-decoration: none;
}
.toggles a:hover {
    text-decoration: underline;
}
a.show_comment {
    color: orange;
    background: white;
    text-decoration: underline;
    font-size: 10px;
}
a.show_comment:hover {
    color: red;
}
.edit_page a.show_comment {
    position: absolute;
    left: 1053px;
}
.show_page a.show_comment {
    position: absolute;
    left: 513px;
}
#blob_hash {
    display: none;
}