<h1>A Simple Diff-Based Copyediting Tool, by <a href="http://jsomers.net">James Somers</a> <a href="http://github.com/jsomers/diffly" class="source">source code</a></h1>

<table>
	<tr>
		<td valign="top">
		<form action="#" onsubmit="return false">
			<dl class="form">
				<dt>Copyediting area</dt>
				<dd><textarea id="text"></textarea></dd>
			</dl>
			<p style="margin-left: 10px;">
				<input type="button" onclick="mark()" value="mark start">
				<input type="button" id="finish_button" onclick="save()" value="finish" style="display: none;">
				<a href="#" id="blob_hash">Blob <span></span> generated.</a>
				<input type="button" id="regen_blob" value="regenerate" style="display: none;">
			</p>
		</form>
		</td>
		<td valign="top" class="preview" style="margin-top: 20px;">
			<span class="header">Preview area</span>
			<div class="edit_page"><div id="output">

* Paste <del>the text</del><ins>whatever</ins> you want to edit in the copyediting area. When you’re ready to start making changes, hit “mark start.”<br><br>

* There are three <del>basic</del><ins>types of</ins> change<del>s</del> you can make: insertions, deletions, and comments.<br><br>

* <span class="highlight" nid="1">[</span>Mouse over the pink dot<span class="highlight" nid="1">]</span><a href="#" class="show_comment" nid="1">•</a><div class="tooltip" nid="1"><div class="contain"><h3>This is what comments look like!</h3></div></div>.<br><br>

* To make a comment, just highlight some text you want to comment on and hit the “[” key. It’ll surround your selection in brackets. Put your comment in the parentheses that follow.<br><br>

* When you're done, hit the “finish” button to get a link to a page with the final marked-up version.<br><br>

* You can easily remove a comment by clicking on it in the preview area.
</ol>
			</div></div>
		</td>
	</tr>
</table>