<script type="text/javascript">
	$(document).ready(function() {
		$(".show_comment").live("mouseover",
			function(ev) {
				var tip = $("div.tooltip[id=" + $(this).attr("id") + "]");
				$(tip).css("top", ev.pageY - 30 + "px");
				$(tip).css("left", ev.pageX + 20 + "px");
				$(tip).show();
			}
		);

		$(".show_comment").live("mouseout",
			function(ev) {
				var tip = $("div.tooltip[id=" + $(this).attr("id") + "]");
				$(tip).hide();
			}
		);

		$(".show_comment").live("mousemove",
			function(ev) {
				var tip = $("div.tooltip[id=" + $(this).attr("id") + "]");
				$(tip).css("top", ev.pageY - 30 + "px");
				$(tip).css("left", ev.pageX + 20 + "px");
			}
		);
	})
</script>

<div class="header" style="margin-bottom: 10px;">Edited version (if you see a <span style="color: #ff5544;">&bull;</span>, that means there's a comment, which you can view by hovering your mouse.)</div>

<div id="output">
	<%= raw(@blob.content) %>
</div>