<div class="toggles">
	<span id="markup"><strong>marked up</strong></span><a href="#" id="markup-link" style="display: none;">marked up</a> | <span id="clean" style="display: none;"><strong>clean final</strong></span><a href="#" id="clean-link">clean final</a>
</div>

<div class="show_page">
<div id="output">
	<span id="markup-content"><%= raw(@blob.content) %></span>
	<span id="raw-content" style="display: none;"><%= raw(@blob.raw) %></span>
</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$(".show_comment").live("mouseover",
			function(ev) {
				var tip = $("div.tooltip[id=" + $(this).attr("id") + "]");
				$(tip).css("top", ev.pageY - 30 + "px");
				$(tip).css("left", ev.pageX + 20 + "px");
				$(tip).show();
				$(".highlight[nid=" + $(this).attr("id") + "]").addClass("hovered");
			}
		);

		$(".show_comment").live("mouseout",
			function(ev) {
				var tip = $("div.tooltip[id=" + $(this).attr("id") + "]");
				$(tip).hide();
				$(".highlight[nid=" + $(this).attr("id") + "]").removeClass("hovered");
			}
		);

		$(".show_comment").live("mousemove",
			function(ev) {
				var tip = $("div.tooltip[id=" + $(this).attr("id") + "]");
				$(tip).css("top", ev.pageY - 30 + "px");
				$(tip).css("left", ev.pageX + 20 + "px");
			}
		);
		
		$(".show_comment").live("click", function() { return false; });
		
		$("#clean-link").click(function() {
			$(this).hide(); $("#clean").show(); $("#markup").hide(); $("#markup-link").show();
			$("#markup-content").hide(); $("#raw-content").show();
			return false;
		});
		
		$("#markup-link").click(function() {
			$(this).hide(); $("#markup").show(); $("#clean").hide(); $("#clean-link").show();
			$("#raw-content").hide(); $("#markup-content").show();
			return false;
		})
		
	})
</script>