<!DOCTYPE html>
<html>
<head>
  <title>Diff-Based Copyediting Tool</title>
  <script type="text/javascript" language="javacript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
  <script type="text/javascript" language="javascript" src="/javascripts/diff_match_patch.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css"> 
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
