<!DOCTYPE html>
<html>
<head>
  <title>Diff-Based Copyediting Tool</title>
  <%= javascript_include_tag :all, :cache => true %>
  <%= stylesheet_link_tag :all, :cache => true %>
  <link rel="shortcut icon" href="/favicon.ico">
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>