<!DOCTYPE html>
<html>
<head>
  <title>A Simple Diff-Based Copyediting Tool, by James Somers</title>
  <meta name="description" content="A simple diff-based tool for copyediting and marking up text." /> 
  <%= javascript_include_tag :all, :cache => true %>
  <%= stylesheet_link_tag :all, :cache => true %>
  <link rel="shortcut icon" href="/favicon.ico">
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>